<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout rows="*,*,*,*,*,*">
    <Button row="0" (tap)="adsInit()" text="ads init"></Button>
    <Button row="1" (tap)="banner()" text="banner"></Button>
    <Button row="2" (tap)="full()" text="Interstitial create"></Button>
    <Button row="3" (tap)="show()" text="Interstitial show"></Button>
    <Button row="4" (tap)="videoCreate()" text="video create"></Button>
    <Button row="5" (tap)="videoShow()" text="video show"></Button>

</GridLayout>